
body {
    background: rgb(246,219,231);
    background: radial-gradient(circle, rgba(246,219,231,1) 0%, rgba(194,214,238,1) 100%);
}

.gradient-color{
    background: linear-gradient(90deg, rgb(235, 241, 199) 0%, rgba(235,224,236,1) 50%, rgba(235, 241, 199) 100%);
}

/* nav bar adjustments */ 
.nav-adjust{
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;
}

/* details of the title container */ 
.title-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    background-color: #16123f;
    margin: 0;
}

/* details of the title item when expanded */
.exp-title-item{
    width: 100%;
    height: 100px;
    display: inline-block;
    background-color: #16123f;
    padding: auto;
    margin: 1px;
}

/* details for the title when not expanded */
.title-item{
    width: 50%;
    height: 100px;
    display: inline-block;
    background-color: #16123f;
    padding: auto;
    margin: 1px;
}

/* details for title's text */
.title-text{
    text-decoration: none;
    color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5em 0em;
    font-size: x-large;
}

/* flex container */
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    background-color: #16123f;
    margin: 0;
}

/* flex container's item */
.flex-item{
    width: 30%;
    height: 100px;
    display: inline-block;
    padding: auto;
    margin: 2px;
}

/* grid item defaults */
.grid-item {
    padding: 10px;
    font-size: 2.4em;
    text-align: center;
  }

/* solely for the bottom of the page bar */
.bottom-bar{
    background-color: #16123f;
}

/* details for an item's text */
.item-text{
    text-decoration: none;
    color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
}

/* hover */
.item-text:hover{
    background-color: #75c9b7;
    box-shadow: 0 0 0 2px #75c9b7;
}

/* focus */
.item-text:focus{
    outline: none;
    box-shadow: 0 0 0 2px orange;
}

/* active */
.item-text:active{
    background-color: orange;
}

/* this class is used to adjust rectangular images to become square images and place a circular frame around the image */
.square-image{
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  /* this class is used to adjust images that used the above 'square-image' class and align the border around the focus of the image */
img.square-adjust{
    width: auto;
    height: 100%;
    margin-left: -100px;
  }

  /* created for dropdown accordion buttons */
.accordion{
    background-color: teal;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: orange;
  }
  
/* Style the accordion panel. Note: hidden by default */
.panel {
   background-color: #75c9b7;
   display: none;
   overflow: hidden;
}

/* style for accordion button to show area is 'openable'*/
.accordion:after {
   content: '\02795'; /* Unicode character for "plus" sign (+) */
   font-size: 12px;
   float: right;
   margin-left: 5px;
}
  
/* style for accordion button to show area is 'closable' */
.active:after {
   content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* changes to the media display */
@media(min-width: 993px){
    .title-container{
        display: none;
    }
}

@media(max-width: 992px){
    .title-item{
        display: none;
    }    
}

@media(max-width: 575px){
    .flex-container{
        justify-content: flex-start;
    }
    .flex-item{
        width: 30%;
        height: 100px;
    }
}
