.readFont {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 6px hsl(310, 88%, 56%);
    font-family: 'Pacifico', cursive;
  }

.mainHeader{
    text-decoration: underline;
}

.headerTwo{
    font-size: 30px;
}

.descriptorText{
    font-size:  24px;
}

.urlFont{
    color:greenyellow;
    text-transform: underline;
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 250px;
}