@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 325;

    color-scheme: light dark;
    /* color: rgba(223, 113, 223, 0.87); */
  
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 400px;
    min-height: 100vh;

    /* background-image: url("../img/bgPhoto.jpg"); */
    background-image: url("../img/cookies_logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 40px;
    border: 1px solid transparent;
    padding: 0.8em 1.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
    
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        color:#ffffffe8;
        background-color: #b9bcbd50;
    }
    button:hover {
        color:#e6ebee;
        background-color: #3d2a44c5;
        border-color: #646cff;
        transition: border-color 0.5s;
    }
}


a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}



.clickersCookie{
    background-image: url("../img/cookies_logo.png");
    background-size: cover;
    width: 300px;
    height: 300px;
 }