.bigbutton {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform .1s ease-in-out;
}

.bigbutton:hover {
  animation: rotate 1.5s linear infinite;
  transform: scale(1.75);
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(360deg);
  }
}