.boxGameContainer {  
  box-shadow: 0 8px 50px 0 hsla(236, 63%, 33%, 0.37);
  backdrop-filter: blur(5px);
  /* text style in the box */
  color: white;
/* font-size: 5rem; */
  text-shadow: 0px 0px 6px hsl(310, 88%, 56%);
  -webkit-font-smoothing: antialiased;
  font-family: 'Pacifico', cursive;

  /* border-radius: 10px; */
  border: 1px solid hsla(0, 58%, 37%, 0.267);
  transition: all 200ms;
  -webkit-backdrop-filter: blur(4px);
}

.bigbutton {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform .1s ease-in-out;
}

.bigbutton:hover {
  animation: rotate 1.5s linear infinite;
  transform: scale(1.75);
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(360deg);
  }
}


.upgradeButton{
  background-color: rgb(27, 27, 27);
  color: rgb(190, 41, 196);
}


.upgradeButton:hover{
  color: rgb(12, 11, 12);
}


